body, html {
  height: 100%;
  background: #eee;
  text-align: center;
  padding: 25px 25px
}

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10% auto;
  margin: auto;
  text-align: left;
  background: white;
  padding: 50px;
  border: solid #ddd;
  border-width: 0 1px 1px 1px;
}

.header {
  width: 100%;
  border: solid red;
  display: subgrid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

.header .conversion {
  width: 100%;
  border: solid green;
  display: subgrid;
  grid-template-columns: auto auto auto auto;
}

.header .conversion p {
  display: inline;
}
