#app {
  background: url('assets/background.jpg') repeat-y center;
  background-size: auto;
  height: 40em;
  max-width: 100%;
}

.countdown-timer,
.join-button {
  margin: 75px 0;
}

.countdown-timer span {
  padding-right: 5px;
}

.eth-address{
  margin-bottom: 10px;
}

.eth-address img {
  padding: 20px;
  border: 1px solid red;
}

.funded,
.eth-address,
.received {
  margin: 5% 0;
}

.link {
  color: inherit;
}
.link:hover {
  text-decoration: none;
  color: #555;
}

.login-control {
  border: solid 1px #444;
  border-radius: 25px;
  margin: 5px auto 0;
  padding: auto;
}
